.oranje {
  color: #c65112;
}
aside {
  display: none;
}
#carouselExampleCaptions {
  max-height: 400px; /* kies zelf hoogte */
  height: 50vw;
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item,
#carouselExampleCaptions img {
  height: 100%;
}

#carouselExampleCaptions img {
  object-fit: cover;
}
.aside {
  display: none;
}

body,
figcaption {
  background-color: black;
  color: #f28749;
  font-family: serif;
}
.bg-danger {
  background-color: blue;
}

.fs-1 {
  font-size: calc(2.5rem + 1.5vw) !important;
}

.auto_text {
  font-size: 2.5vw;
}

.picture {
  max-height: 250px;
  object-fit: cover;
}
.aside-length {
  max-width: 225px;
}
a {
  text-decoration: none;
  color: #f28749;
}

button {
  color: #f28749;
}

span {
  color: red;
}

section {
  display: none;
}

footer {
  margin-bottom: 0 !important ;
}
@media (min-width: 767.98px) {
  aside {
    display: block;
  }

  section {
    display: block;
  }
}
